.Index {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  background-color: lightgray;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid black;
}

.deleteButton {
  margin-top: 10px;
  width: 5rem;
  background-color: #ff4c4c;
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bolder;
}
